SERVICE="execute-api"
AWS_REGION="eu-west-1"
API_HOST="abcde12345.execute-api.eu-west-1.amazonaws.com"
FUNC_IMAGE_ANALYSER_NAME="ice-cat-wrangler-dev-image-analyse"
FUNC_IMAGE_RESULTS_NAME="ice-cat-wrangler-dev-image-results"
ANALYSE_ENDPOINT="/v1/imagecat/analyse"
RESULTS_ENDPOINT="/v1/imagecat/results/2"
S3BUCKET_SOURCE=<enter-source-s3-bucket>
